/* PC */
@media (min-width: 1024px) {
}

/* Tablet and mobile */
@media (max-width: 1023px) {
  .btn {
    padding: 15px 16px;
  }

  #nav .subnav a {
    padding: 5px 12px;
  }

  .contact-form .form-control {
    padding: 15px;
    font-size: 18px;
  }

  .contact-info {
    line-height: 2;
  }

  .contact-submit-btn {
    font-size: 18px;
  }

  .socials-list {
    font-size: 48px;
  }

  #footer .socials-list a {
    margin: 0 8px;
  }

  #footer .copyright a {
    padding: 12px 0;
    display: inline-block;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 740px) {
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }

  .s-mt-8 {
    margin-top: 8px !important;
  }

  #header {
    overflow: hidden;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #header .search-btn {
    display: none;
  }
  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav li a {
    display: block;
    padding: 1px 24px;
  }

  #nav .subnav {
    /* reset về position mặc định */
    position: initial;
    background-color: #333;
  }

  #nav .subnav a {
    color: #fff;
    padding: 5px 41px;
  }

  #content .member-img {
    width: 60%;
  }

  .contact-form {
    margin-top: 32px;
  }
}
